<h1> Supermarket Show Page </h1>

<div id="supermarket-name">
    <p><%= @supermarket.name %></p>
</div>

<div id="view-items-link">
    <p><%= link_to "View All Items", "/supermarkets/#{@supermarket.id}/items/" %></p>
</div>